<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
  <title>Patent Recommendation</title>
  {% endif %}

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  <!-- CSS ============================================= -->
  <link rel="stylesheet" href="css/linearicons.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/nice-select.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>

<header id="header" id="home">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo" class="text-white"><a class="ticker-btn" href="/">Patent Rec</a></div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
{#            <li class="menu-active"><a href="index.html">Home</a></li>#}
            <li><a class="ticker-btn" href="/register">Signup</a></li>
            {%  if not username %}
            <li><a class="ticker-btn" href="/login">Login</a></li>
            {%  else  %}
            <li><a class="ticker-btn" href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </nav><!-- #nav-menu-container -->

    </div>
  </div>
</header><!-- #header -->


<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row search-page-top d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-12">

        <form action="/search" class="serach-form-area" method="post">
          <div class="row justify-content-center form-wrap">

            <div class="col-lg-4 form-cols">
              <input type="text" class="form-control" name="inventor" placeholder="Inventor goes here">
            </div>

            <div class="col-lg-4 form-cols">
              <input type="text" class="form-control" name="lawyer" placeholder="Lawyer goes here">
            </div>

            <div class="col-lg-4 form-cols">
              <input type="text" class="form-control" name="assignee" placeholder="Assignee goes here">
            </div>
          </div>

          <div class="row justify-content-center form-wrap">

            <div class="col-lg-2 form-cols">
              <input type="text" class="form-control" name="after" placeholder="After eg, 2010-01-01">
            </div>
            <div class="col-lg-2 form-cols">
              <input type="text" class="form-control" name="before" placeholder="Before eg, 2018-01-01">
            </div>

            <div class="col-lg-4 form-cols">
              <div class="default-select" id="default-selects">
                <select name="cpc">
                  <option value="">Select Category</option>
                  <option value="A">A = Human Necessitites </option>
                  <option value="B">B = Performing Operations; Transporting</option>
                  <option value="C">C = Chemistry; Metallurgy </option>
                  <option value="D">D = Textiles; Paper</option>
                  <option value="E">E = Fixed Constructions </option>
                  <option value="F">F = Mechanical Engineering; Lighting; Heating; Weapons; Blasting Engines or Pumps</option>
                  <option value="G">G = Physics</option>
                  <option value="H">H = Electricity</option>
                  <option value="Y">Y = General Tagging of New Technological Developments</option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 form-cols">
              <input type="text" class="form-control" name="keywords" placeholder="keywords goes here">
            </div>

          </div>

          <div class="row justify-content-center form-wrap">
            <div class="col-lg-12 form-cols">
              <button type="submit" class="btn btn-info"><span class="lnr lnr-magnifier"></span> Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
<!-- Start post Aoea -->
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7 bg-info">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li class="text-white">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>





{% block register %}{% endblock %}
{% block signin %}{% endblock %}
<!-- End post Area -->


<!-- Start post Area -->
{% block content %}{% endblock %}
<!-- End post Area -->

<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-12">
        <div class="single-footer-widget">
          <h6>Top Products</h6>
          <ul class="footer-nav">
            <li><a href="#">Managed Website</a></li>
            <li><a href="#">Manage Reputation</a></li>
            <li><a href="#">Power Tools</a></li>
            <li><a href="#">Marketing Service</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6  col-md-12">
        <div class="single-footer-widget newsletter">
          <h6>Newsletter</h6>
{#          <p>You can trust us. we only send promo offers, not a single spam.</p>#}
          <p>CMPE 256 TEAM PROJECT by TEAM #7</p>
          <div id="mc_embed_signup">
            <form target="_blank" novalidate="true"
                  action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                  method="get" class="form-inline">

              <div class="form-group row" style="width: 100%">
                <div class="col-lg-8 col-md-12">
                  <input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                         onblur="this.placeholder = 'Enter Email '" required="" type="email">
                  <div style="position: absolute; left: -5000px;">
                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                  </div>
                </div>

                <div class="col-lg-4 col-md-12">
                  <button class="nw-btn primary-btn">Contact<span class="lnr lnr-arrow-right"></span></button>
                </div>
              </div>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row footer-bottom d-flex justify-content-between">
      <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | This template is made with
        <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
      <div class="col-lg-4 col-sm-12 footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>
<script src="js/js.cookie.js"></script>
<script src="js/patent.js"></script>
</body>
</html>



