gunicorn
flask-login
flask_wtf
Flask-Script==2.0.5
appdirs==1.4.3
click==6.7
decorator==4.0.11
Flask==0.12.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
ipython==6.0.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.2.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.9
SQLAlchemy-Utils==0.32.14
traitlets==4.3.2
typing==3.6.1
wcwidth==0.1.7
Werkzeug==0.15.3
psycopg2==2.7.1
pandas
numpy
nltk
scipy
sklearn
flask-script
